/******************************************Global Styling*************************************************/

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
    
}


li, button, label, input, p{
    font-size: 2rem;
}
h1{
    font-size: 2.6rem ;
}
h2{
    font-size: 4.8rem;
}
h3{
    font-size: 3rem;
    font-weight: 400;
}

h4, h5{
    2.8rem
}

a{
    color: aliceblue;
    text-decoration: none;
}
button{
    color: white;
    background-color: #4c6e97;
    border: none;
    cursor: pointer;
    padding: 2rem;
    width: 18rem;
}

button:focus{
    outline-style: solid;
}




/*****************************Nav section and Hero*********************************************/

.main-head{
    background-color: #131c27;
    overflow: hidden;
    position: sticky;
    top: 0%;
    z-index: 3;
}

nav{
    display:flex;
    padding: 2rem;
    min-height: 10vh;
    width: 90%;
    margin: auto;
    color: aliceblue;
    flex-wrap: wrap;
}

#logo{
    display: flex;
    flex: 2 1 40rem;
    align-items: center;
    font-family: 'Pattaya', sans-serif;
    font-weight: 400;
   
}

ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1 1 40rem;
    list-style: none;
}

.hero h3{
    padding: 4.5rem;
}
.hero{
    background-image: linear-gradient(rgba(0,0,0,0.65),transparent),url(/imgs/landing-page.jpg);
    background-position: center;
    background-size: cover;
    height: 90vh;
    display: flex;
    flex-direction: column;
    color: aliceblue;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-shadow: 3px 3px 10px black;
}

/********************************Locations Section****************************/
#locations{
    background-image: linear-gradient(rgba(0,0,0,0.65),transparent),url(/imgs/new-york-page.png);
    background-position: center;
    background-size: cover;
    min-height: 110vh;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.neew{
    width: 90%;
    margin:auto;
    
}

.neew h2{
    text-decoration: underline;
    text-decoration-thickness: 0.2rem;
}
.neew h3{
    padding: 6rem 0rem;
    color: rgb(156, 130, 96);
}

.cloud{
    position: absolute;
    height: 60rem;
    top: 0%;
    right: 0%;
}

.image-cloud-1{
   animation: cloudsmoving 3s infinite alternate ease-in-out;
}

.image-cloud-2{
    z-index:-1;
    top: 20%;
    animation: cloudsmoving 3.5s infinite alternate ease-in-out;
}


@keyframes cloudsmoving{

    from{
        transform: translate(10%, -10%);
    }

    to{
        transform: translate(0%, 0%);
    }
}


/*********************Benefits Section*********************************/

.benefits-head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #27313d;
    color: white;
    min-height: 30vh;
    text-align: center;
    flex-wrap: wrap;
}

#benefits h2, #benefits h3{
    padding: 1rem;
}


.card1 img
{
 height: 5rem;
 padding: 1rem;
}


#benefits a{
    color: black;
}


.good{
        transition: box-shadow 1s ease-in-out;
      
}
.good:hover{
    box-shadow: 0px 20px 20px rgba(0,0,0,1);
    background-color: rgb(117, 147, 184);
}

.card1{
    margin: 8rem 6rem;
    background-color: white;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1),0px 20px 20px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    flex: 1 1 25rem;
}

.img1{
    background-color: #27313d;;
}

.cards{

    min-height: 70vh;
    display: flex;
    
    flex-wrap: wrap;
}

.cards h2{
    font-size: 3rem;
    padding: 1rem;
}

.cards p{
    font-size: 2rem;
    padding: 1rem;
    line-height: 2;
}



/***********************************Form Part*************************/

.form{
    min-height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.65),transparent),url(/imgs/contact-mountain.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}


.form h2{
    padding: 4rem;
    text-decoration: none;
    padding-top: 5rem;
    text-align: center;
}
.new{
    background-color: rgba(19, 28, 39,0.8);
    width: 60%;
    border-radius: 3rem;
    
}

.nnew{
    text-align: center;
}

.new button{
    width: 100%;
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    margin-top: 8rem;
}

.form input{
    padding: 1rem 4rem;
    margin: 3rem;
}

footer{
    background-color: #131c27;
    padding: 2rem;
    display: flex;
    flex: 1 1 20rem;
    color: white;
    justify-items: center;
    align-items:  center;
}

.bad{
    flex: 1 1 10rem;
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding: 1rem;
}
.isbad{
    flex: 1 1 10rem;
    display: flex;
    align-items: center;
    margin-left: 3rem;
   
}

footer h3{
    font-weight: 600;
}

/************************Media Querries************************************/
@media screen and (max-width:1046px)
{
    #logo{
        justify-content: center;
        padding: 2rem;
    }
}

@media screen and (max-width:936px)
{
    html{
        font-size: 45%;
    }
    ul{
        
        flex: 1 1 65rem;
        
    }
}
@media screen and (max-width:1128px)
{
    .new h2{
        z-index:1;
    }
    .image-cloud-1{
        z-index:-1
    }
    
    .image-cloud-2{
        z-index:-2;
    }
}

@media screen and (max-width:674px)
{
    .new h3{
        background: rgba(26, 42, 61,0.6);
        -webkit-text-fill-color: white;
    }

    .new{
        min-width: 100%;
    }
}