* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #17181a;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  position: relative;
}

.nav-header {
  display: flex;
  width: 80%;
  margin: 0 auto 0 auto;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0rem;
  position: relative;
  top: 0;
  z-index: 100;
}

#logo {
  color: white;
  font-family: "Abril Fatface", cursive;
}
#logo a {
  color: white;
  z-index: 2;
}

p {
  font-size: 1.5rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
}
.line-1,
.line-2 {
  width: 2.5rem;
  margin: 0.3rem 0rem;
  padding: 0.1rem 0rem;
  background-color: white;
}

section {
  display: flex;
  color: white;
  width: 80%;
  margin: 0 auto 0 auto;
}

.hero-desc {
  margin-left: 4rem;
  margin-bottom: 2rem;
  flex: 1;
  position: relative;
  padding-left: 0.2rem;
}
.hero-image {
  flex-basis: 25rem;
  height: 30%;
  flex: 1;
  position: relative;
  overflow: hidden;
  margin-top: 2rem;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title {
  font-family: "Abril Fatface", cursive;
  font-size: 3rem;
}

.fashion-span {
  color: rgb(255, 139, 93);
}
.mountain-span {
  color: rgb(86, 124, 228);
}

.hike-span {
  color: rgb(167, 110, 231);
}
.slide {
  background-color: #17181a;
}
.explore {
  color: white;
  border: 1px solid white;
  padding: 1rem 2rem;
  background-color: #17181a;
  cursor: pointer;
  margin-bottom: 2rem;
}

.reveal-image {
  position: absolute;
  background-color: #17181a;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
}
.reveal-text {
  position: absolute;
  background-color: #17181a;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
}
.scrollmagic-pin-spacer {
  position: static !important;
}

.cursor {
  width: 3rem;
  height: 3rem;
  position: absolute;
  border: 1.5px solid white;
  border-radius: 50%;
  transform: translate(-40%, -30%);
  pointer-events: none;
  transition: background-color 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
}

.cursor.active {
  background-color: rgb(37, 37, 228);
  transform: scale(3);
}
.cursor.active-explore {
  background-color: white;
  transform: scale(3);
}

.line-1,
.line-2 {
  pointer-events: none;
}

.cursor-text {
  font-size: 0.8rem;
  transform: translate(25%, 100%);
}

.nav-bar {
  position: fixed;
  background-color: white;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  clip-path: circle(50px at 100% -10%);
  -webkit-clip-path: circle(50px at 100% -10%);
  transition: clip-path 1s ease-in;
}
.hero-desc {
  overflow: hidden;
}
.nav-bar.active {
  clip-path: circle(2500px at 0% 0%);
  overflow-y: hidden;
}
.hidden {
  overflow-y: hidden;
}
ul {
  flex: 1;
  margin-left: 6rem;
  list-style: none;
}
ul li {
  font-size: 2rem;
  margin: 4rem 0rem;
  font-weight: bold;
}
.contact {
  flex: 1;
  padding: 2rem 2rem;
}

.title-swipe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
}

.titlwswipe1 {
  background-color: rgb(86, 124, 228);
  mix-blend-mode: darken;
  pointer-events: none;
}
.titlwswipe2 {
  background-color: rgb(167, 110, 231);
  mix-blend-mode: darken;
  pointer-events: none;
}
.titlwswipe3 {
  background-color: rgb(255, 139, 93);
  mix-blend-mode: darken;
  pointer-events: none;
}
.title {
  position: relative;
  overflow: hidden;
}
.burger {
  cursor: pointer;
}
