.form-wrapper{
   display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    width: 40%;
    margin: auto;
    margin-top: 8rem;
    margin-bottom: 4rem;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.3), 0px 20px 20px rgba(0,0,0,0.3);
    input{
        padding: 0.5rem 4rem;
        margin-bottom: 2rem;

        &:focus{
            border: 1px solid black;
        }
    }

    label{
        font-size: 2rem;
        padding: 1rem;
    }
    button{
        margin-top: 0.5rem;
        padding: 1rem 0rem;
        width: 50%;
        background-color: rgb(10, 57, 71);
        color: white;
        margin-bottom: 2rem;
        &:hover{
            background-color: rgb(25, 115, 143);
        }
    }
}