footer{
    background: rgb(10, 57, 71);
    display: flex;
    flex-direction: row;
    padding: 2rem;
    h4{
        flex: 2 1 40rem;
        margin-left: 5%;
        color: white;
    }
   

    #foot-icons{
        flex: 1 1 40rem;
        display: flex;
        justify-content: space-between;
        margin-right: 5%;
    }
}