.main-head{
    min-height: 10vh;
   @include flex(row,center,center);
    margin: 0 0 0 5%;
    width: 60%;
    position: relative;
    flex-wrap: wrap;

    #logo{
        display: flex;
        flex:1 1 30rem ;
        align-items: center;
        h1{
            margin-left: 2rem;
        }
    }
    
    nav{
        flex:5 1 30rem ;
    }

    ul{
        @include flex(row,space-around,center);
    }

}

.active{
    background-color: black;
    color: white;
    padding: 1rem 3rem;
    border-radius: 3rem;
}


/*****************************************************************************************************/

.hero{
    
    margin: 0 0 0 5%;
   display: flex;
   flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
}

.text-part{
    flex: 3 1 40rem;
    
    #bad{
        font-size:5rem;
            padding: 2rem 0rem;
            padding-top: 0rem;
    }

    #good {
            font-size:7rem;
            padding: 2rem 0rem;
            padding-bottom: 0rem;
            margin-top: 9rem;
            background:linear-gradient(rgb(119, 150, 255),rgb(26, 243, 225));
            -webkit-text-fill-color: transparent;
            background-clip: text;
            display: inline-block;
    }
   
    p{
        font-size: $header1;
    }
}

.icon-part{
    margin: 2rem 0rem;
    a{
        margin-left: 2rem;
    }
}

.img-part{
    flex: 1 1 30rem;

    img{
        position: absolute;
        top: 0%;
        right: 0%;
        height: 100%;
        z-index: -1;
        object-fit: cover;
    }
}


#plant-left{
    animation: leafmotion 1.5s infinite ease-in-out alternate 2s;
}
#plant-right{
    animation: leafmotion 1.5s infinite ease-in-out alternate;
}

#clock-arrow{
    animation: clock 1s infinite linear;
    transform-box: fill-box;
    transform-origin: bottom;
}
#me{
    animation: bodymotion 1.5s infinite alternate ease-in-out;
    transform-box: fill-box;
    transform-origin: bottom;
}
/***************************Animations************************************************/




   
@keyframes leafmotion {

    from{
        transform: translateY(-10%);
    }
    to{
        transform: translateY(0%);
    }

}

   
@keyframes bodymotion {

    from{
        transform: rotateZ(-5deg);
    }
    to{
        transform: rotateZ(5deg);
    }
    
}

   
@keyframes clock {

    from{
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(360deg);
    }
    
}


 