.this{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 3rem;

}

.travalley{
    h2{
        margin-top: 6rem;
        margin-bottom: 3rem;
        text-align: center;
    }
   
}

.joy{
    h2{
        margin-top: 6rem;
    margin-bottom: 3rem;
    text-align: center;
    }

    img{
        margin-bottom: 2rem;
    }
}