* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.8rem;
}

h4 {
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: black;
  font-size: 2.5rem;
}

ul {
  list-style: none;
}

.main-head {
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 0 0 5%;
  width: 60%;
  position: relative;
  flex-wrap: wrap;
}
.main-head #logo {
  display: flex;
  flex: 1 1 30rem;
  align-items: center;
}
.main-head #logo h1 {
  margin-left: 2rem;
}
.main-head nav {
  flex: 5 1 30rem;
}
.main-head ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.active {
  background-color: black;
  color: white;
  padding: 1rem 3rem;
  border-radius: 3rem;
}

/*****************************************************************************************************/
.hero {
  margin: 0 0 0 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
}

.text-part {
  flex: 3 1 40rem;
}
.text-part #bad {
  font-size: 5rem;
  padding: 2rem 0rem;
  padding-top: 0rem;
}
.text-part #good {
  font-size: 7rem;
  padding: 2rem 0rem;
  padding-bottom: 0rem;
  margin-top: 9rem;
  background: linear-gradient(rgb(119, 150, 255), rgb(26, 243, 225));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  display: inline-block;
}
.text-part p {
  font-size: 2.5rem;
}

.icon-part {
  margin: 2rem 0rem;
}
.icon-part a {
  margin-left: 2rem;
}

.img-part {
  flex: 1 1 30rem;
  -o-object-fit: contain;
     object-fit: contain;
}
.img-part img {
  position: absolute;
  top: 0%;
  right: 0%;
  height: 100%;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
}

#plant-left {
  -webkit-animation: leafmotion 1.5s infinite ease-in-out alternate 2s;
          animation: leafmotion 1.5s infinite ease-in-out alternate 2s;
}

#plant-right {
  -webkit-animation: leafmotion 1.5s infinite ease-in-out alternate;
          animation: leafmotion 1.5s infinite ease-in-out alternate;
}

#clock-arrow {
  -webkit-animation: clock 1s infinite linear;
          animation: clock 1s infinite linear;
  transform-box: fill-box;
  transform-origin: bottom;
}

#me {
  -webkit-animation: bodymotion 1.5s infinite alternate ease-in-out;
          animation: bodymotion 1.5s infinite alternate ease-in-out;
  transform-box: fill-box;
  transform-origin: bottom;
}

/***************************Animations************************************************/
@-webkit-keyframes leafmotion {
  from {
    transform: translateY(-10%);
  }
  to {
    transform: translateY(0%);
  }
}
@keyframes leafmotion {
  from {
    transform: translateY(-10%);
  }
  to {
    transform: translateY(0%);
  }
}
@-webkit-keyframes bodymotion {
  from {
    transform: rotateZ(-5deg);
  }
  to {
    transform: rotateZ(5deg);
  }
}
@keyframes bodymotion {
  from {
    transform: rotateZ(-5deg);
  }
  to {
    transform: rotateZ(5deg);
  }
}
@-webkit-keyframes clock {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
@keyframes clock {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
footer {
  background: rgb(10, 57, 71);
  display: flex;
  flex-direction: row;
  padding: 2rem;
}
footer h4 {
  flex: 2 1 40rem;
  margin-left: 5%;
  color: white;
}
footer #foot-icons {
  flex: 1 1 40rem;
  display: flex;
  justify-content: space-between;
  margin-right: 5%;
}

.this {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 3rem;
}

.travalley h2 {
  margin-top: 6rem;
  margin-bottom: 3rem;
  text-align: center;
}

.joy h2 {
  margin-top: 6rem;
  margin-bottom: 3rem;
  text-align: center;
}
.joy img {
  margin-bottom: 2rem;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  width: 40%;
  margin: auto;
  margin-top: 8rem;
  margin-bottom: 4rem;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3), 0px 20px 20px rgba(0, 0, 0, 0.3);
}
.form-wrapper input {
  padding: 0.5rem 4rem;
  margin-bottom: 2rem;
}
.form-wrapper input:focus {
  border: 1px solid black;
}
.form-wrapper label {
  font-size: 2rem;
  padding: 1rem;
}
.form-wrapper button {
  margin-top: 0.5rem;
  padding: 1rem 0rem;
  width: 50%;
  background-color: rgb(10, 57, 71);
  color: white;
  margin-bottom: 2rem;
}
.form-wrapper button:hover {
  background-color: rgb(25, 115, 143);
}

@media screen and (max-width: 980px) {
  .main-head {
    width: 90%;
    margin: auto;
  }
  #logo {
    margin: 4rem 0rem;
    margin-bottom: 8rem;
    justify-content: center;
  }
  nav {
    width: 100%;
    flex: 1 1 80rem;
  }
  #splash {
    display: none;
  }
  .hero {
    width: 90%;
    margin: auto;
  }
}/*# sourceMappingURL=style.css.map */